input {
  border: none;
  outline: none;
}

.body {
  height: 1080px;
  background: url("/assets/images/bg.png");
}

img {
  top: 0px !important;
}

.clearfix:after {
  content: "";
  height: 0; //高度为0
  line-height: 0; //行高为0
  display: block; //将文本转为块级元素
  visibility: hidden; //将元素隐藏
  clear: both; //清除浮动
}

.wrapper {
  width: 1220px;
  margin: 0 auto;
  margin-top: 110px;
  p {
    text-align: center;
  }
  .tit1 {
    color: #000;
    font-size: 28px;
  }
  .tit2 {
    color: #000;
    font-size: 14px;
    margin-top: 21px;
    margin-bottom: 50px;
  }
  .login-t {
    width: 390px;
    box-shadow: 0 5px 50px 0 rgba(28, 149, 212, 0.3);
    margin: 0 auto;
    background: #fff;
    z-index: 1000;
  }
}

.phone {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 38px;
  height: 67px;
  font-size: 14px;
}

/*登录按钮*/

.logo-btn {
  cursor: pointer;
  color: #fff;
  width: 280px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  background: #1879be;
}

/*tab*/

.input-phone {
  position: relative;
  width: 250px;
  margin-left: 30px;
  border-bottom: 1px solid #d8d8d8 !important;
  line-height: 31px;
  font-size: 14px;
}

.getc {
  position: relative;
  display: block;
  float: right;
  width: 96px;
  height: 30px;
  border: 1px solid #ddd;
  color: #999;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}

// 选项卡 tab
.tab {
  width: 340px;
  margin: 0 auto;
  font-size: 16px;
  height: 55px;
  border-bottom: 1px solid #ddd;
  a {
    display: block;
    float: left;
    width: 169px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    color: #666;
  }
  a.act {
    color: #1879be;
  }
  .split {
    height: 40px;
    border-left: 1px solid #ddd;
    float: left;
    margin-top: 8px;
  }
}

.password {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.password.top {
  margin-bottom: 33px;
}

// 手机号注册
// 同意说明
.desc {
  color: #1879be;
  width: 320px;
  font-size: 12px;
  margin-left: 55px;
  margin-top: 10px;
  padding-bottom: 57px;
}
