<dcr-head>
<dcr-nav></dcr-nav>
</dcr-head>


<div>
  <div class="wrapper">
    <div class="body">
      <p class="t1">多币种矿池&nbsp;&nbsp;&nbsp;一键切换</p>
      <div class="list">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li style="margin: 0"></li>
        </ul>
      </div>
      <div class="go-btn">
        <a href="javaScript:;">进入矿池</a>
      </div>
      <div>
        <ul class="coin_type">
          <!--最后一个长度为0-->
          <!-- <li :class="{ret:index==cointype.length-1,act_tive:current_type==val}" @click="changecoin(val)" v-for="(val,index) in cointype"> -->
            <!-- {{val}} -->
            <!-- <div v-show="current_type==val" class="trang"></div> -->
          <!-- </li> -->
        </ul>
      </div>
    </div>
  </div>
  <section class="desc">
    <div class="bg"></div>
  </section>
  <!--挖矿小助手-->
  <section class="mine">
    <div style="margin:0 auto;width:1220px;">
      <img src="/assets/images/home/downhome.png" alt="">
    </div>
  </section>
  <!--合作伙伴-->
  <section class="partner">
    <div class="pat-warp">
      <p class="p1">合作伙伴</p>
      <p class="p2">30,000+ 点产品设计团队共同选择，50,000+ 的同时协同项目</p>
      <ul class="clearfix">
        <li *ngFor="let item of part; index as i" >
          <a (mouseout)="out(i,$event)" (mouseover)="over(i,$event)" href="">
           <img [src]="item.src" alt="">
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!--现在开始挖矿-->
  <section class="now">
  </section>
  <!-- <foot></foot> -->
</div>



